.box{
    border: 5px;
    background-color: aquamarine;
    padding: 5px;


}

.container{
    background-color: blue;
    border-color: aliceblue;
    border-radius: 10px;


}

.col-3{
    text-color: rgb(255, 255, 255);
    padding: auto;
}