<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olier</title>
    <link rel="stylesheet" href="/assets/CSS/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
   <!-- Header Start-->
   <section id="custom-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid ">
        <a class="navbar-brand" style="height: 60px; width: 80px; margin-left: 100px;" href="/templates/index.html">
          <img src="/assets/img/Logo.svg" alt="#olir">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/templates/index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/templates/about-us.html">About Us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Services
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="/templates/services/graphic-designing.html">
                  Graphic Design</a></li>
                <li><a class="dropdown-item" href="#">
                  Website Design</a></li>
                <li><a class="dropdown-item" href="#">
                  UI UX Design</a></li>
                <li>
                  <a class="dropdown-item" href="#">Domine & Hosting</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Digital Marketing</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">
                Works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">
                Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">
                Career</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">
                Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">
                Let’s Collab</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>
  <!-- Header end-->

  <!--Our Services  about start-->
  <div class="container">
    <h2 class="text-center" style="margin-top: 150px;">Our Services</h2>
    <h1 class="text-center">Graphic Designing</h1>
    <div class="col-md-6" style="font-size: 20px; margin-top: 30px;  text-align: justify;">
        <p>
           We believe that having a unique brand will differentiate yourselves from the competition.
           It’s not just the physical features that create a brand but also the feelings that consumers develop towards your company. 
           The key purpose is to know and consistently living from a true identity from a real story. Let’s design the shorthand 
           marketing messages that create emotional bonds with consumers and perceived value for them through its personality.  
           Best Graphic Designing Company you can trust in Thanjavur. 
        </p>
        <ul>
            <li>Branding</li>
            <li>Product Design</li>
            <li>Print Design</li>
            <li>Publishing Design</li>
            <li>Environmental Design</li>
        </ul>
    </div>
    <div class="col-md-6">
        <img src="/assets/img/Branding.png" alt="">
    </div>
  </div>
  <!--Our Services about end -->

  <!--Our Services start -->
  
  <div class="container services-title">
    <div class="row">
        <div class="col-md-4 services-box">
            <i class="fa-solid fa-pen-to-square services-icon"></i>
            <h1>Logo</h1>
            <p>Color, typography, and imagery are used to represent a company or brand in a visual manner.</p>
        </div>
        <div class="col-md-4 services-box">
            <i class="fa-regular fa-address-card services-icon"></i>
            <h1>Business Card</h1>
            <p>Multitools for business provide advertising, brand recognition, call to action, and contact information.</p>
        </div>
        <div class="col-md-4 services-box">
            <i class="fa-solid fa-pencil services-icon"></i>
            <h1>Letter head</h1>
            <p>Printed characters are a stationery that aligns with a brand and can also be used for digital messaging to convey a brand.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 services-box">
            <i class="fa-solid fa-swatchbook services-icon"></i>
            <h1>Brochures</h1>
            <p>A brochure is a tool used to disseminate information about a product or service, similar to a magazine, with pictures.</p>
        </div>
        <div class="col-md-4 services-box">
            <i class="fa-solid fa-book-open services-icon"></i>
            <h1>Flyers</h1>
            <p>Creating a visually appealing & attention-grabbing design that conveys the intended message & inspires action.</p>
        </div>
        <div class="col-md-4 services-box">
            <i class="fa-solid fa-bowl-food services-icon"></i>
            <h1>Menus Card</h1>
            <p>Menu design is about creating a visually appealing and clear layout for a restaurant's menu.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 services-box">
            <i class="fa-solid fa-panorama services-icon"></i>
            <h1>Banners</h1>
            <p>Banner design is a visually appealing and attention-grabbing design for large format advertisements.</p>   
        </div>
        <div class="col-md-4 services-box">
            <i class="fa-solid fa-signs-post services-icon"></i>
            <h1>Posters</h1>
            <p>To advertise products, services and events, they are usually larger than flyers and contain more detailed information.</p>
        </div>
        <div class="col-md-4 services-box">
            <i class="fa-solid fa-hashtag services-icon"></i>
            <h1>Social Media Post</h1>
            <p>Share personal news, promote products, express opinions and create interaction with the audience.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 services-box">
            <i class="fa-solid fa-video services-icon"></i>
            <h1>Video Editing</h1>
            <p>Selecting and editing footage, adding transitions, visual effects and audio elements, and color correction.</p>   
        </div>
        <div class="col-md-4 services-box">
            <i class="fa-solid fa-boxes-packing services-icon"></i>
            <h1>Packaging Design</h1>
            <p>High-quality packaging design attracts customers, and the visual experience reflects the quality of the product.</p>
        </div>
        <div class="col-md-4 services-box">
            <i class="fa-regular fa-newspaper services-icon"></i>
            <h1>News Paper Ads</h1>
            <p>Designing a newspaper ad will help your business stand out from the competition and get noticed by the general public.</p>
        </div>
    </div>
  </div>
<!--Our Services end -->

<!-- Services Card Start -->
 <div class="row card-head">
  <h2 class="text-center">Our Works</h2>
    <div class="col-md-4 container">
      <img src="/assets/img/brand/1.jpg" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
    <div class="col-md-4 container">
      <img src="/assets/img/brand/2.png" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
    <div class="col-md-4 container">
      <img src="/assets/img/brand/3.jpg" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
  </div>
</div>
<div class="row card-head">
    <div class="col-md-4 container">
      <img src="/assets/img/brand/4.jpg" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
    <div class="col-md-4 container">
      <img src="/assets/img/brand/5.png" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
    <div class="col-md-4 container">
      <img src="/assets/img/brand/6.jpg" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
  </div>
</div>
<div class="row card-head">
    <div class="col-md-4 container">
      <img src="/assets/img/brand/7.jpg" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
    <div class="col-md-4 container">
      <img src="/assets/img/brand/8.png" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
    <div class="col-md-4 container">
      <img src="/assets/img/brand/9.png" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
  </div>
</div>
<!-- Services Card End -->

<!-- FAQ Start -->.
 <div class="container">
    <div class="row">
        <h1 class="text-center">FAQ</h1>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                  Accordion Item #1
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                <div class="accordion-body">
                  <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                  Accordion Item #2
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                  Accordion Item #3
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
          </div>
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                  Accordion Item #1
                </button>
              </h2>
              <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                  Accordion Item #2
                </button>
              </h2>
              <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                  Accordion Item #3
                </button>
              </h2>
              <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
          </div>
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeven">
                  Accordion Item #1
                </button>
              </h2>
              <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false" aria-controls="panelsStayOpen-collapseEight">
                  Accordion Item #2
                </button>
              </h2>
              <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseNine" aria-expanded="false" aria-controls="panelsStayOpen-collapseNine">
                  Accordion Item #3
                </button>
              </h2>
              <div id="panelsStayOpen-collapseNine" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
          </div>
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTen" aria-expanded="false" aria-controls="panelsStayOpen-collapseTen">
                  Accordion Item #1
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTen" class="accordion-collapse collapses">
                <div class="accordion-body">
                  <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEleven" aria-expanded="false" aria-controls="panelsStayOpen-collapseEleven">
                  Accordion Item #2
                </button>
              </h2>
              <div id="panelsStayOpen-collapseEleven" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwelve" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwelve">
                  Accordion Item #3
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwelve" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
          </div>
    </div>
 </div>

<!-- FAQ End -->

<!-- Footer Start-->
     <section id="custom-footer">
        <div class="container-fluid p-5 text-white text-center" >
            <div class="row justify-content-center" style= background-color:black; ">
              <img src="/assets/img/footer.png" alt="" style="height: 100px; width: 198px;">
              <div class="container p-4 pb-0">
                <!-- Section: Social media -->
                <section class="mb-4">
                  <!-- Facebook -->
                  <a
                  data-mdb-ripple-init
                    class="btn text-white btn-floating m-1"
                    style="background-color: #3b5998;"
                    href="#!"
                    role="button"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
            
                  <!-- Twitter -->
                  <a
                    data-mdb-ripple-init
                    class="btn text-white btn-floating m-1"
                    style="background-color: #55acee;"
                    href="#!"
                    role="button"
                    ><i class="fab fa-twitter"></i
                  ></a>
            
                  <!-- Google -->
                  <a
                    data-mdb-ripple-init
                    class="btn text-white btn-floating m-1"
                    style="background-color: #dd4b39;"
                    href="#!"
                    role="button"
                    ><i class="fab fa-google"></i
                  ></a>
            
                  <!-- Instagram -->
                  <a
                    data-mdb-ripple-init
                    class="btn text-white btn-floating m-1"
                    style="background-color: #ac2bac;"
                    href="#!"
                    role="button"
                    ><i class="fab fa-instagram"></i
                  ></a>
            
                  <!-- Linkedin -->
                  <a
                    data-mdb-ripple-init
                    class="btn text-white btn-floating m-1"
                    style="background-color: #0082ca;"
                    href="#!"
                    role="button"
                    ><i class="fab fa-linkedin-in"></i
                  ></a>
                  <!-- Github -->
                  <a
                    data-mdb-ripple-init
                    class="btn text-white btn-floating m-1"
                    style="background-color: #333333;"
                    href="#!"
                    role="button"
                    ><i class="fab fa-github"></i
                  ></a>
                </section>
                <!-- Section: Social media -->
              </div>
              <!-- Grid container -->

            </div class="footer-link">
              <p>
                © Copyrights 2023. Olir Designs Private Limited. All Rights Reserved.
              </p>
           
              <a class="nav-link" href="/templates/terms-and-conditions.html">Terms and Conditions</a>
              <a class="nav-link" href="/templates/collab.html">Privacy Policy</a>
            </div>
        </div>
     </section>
    <!-- Footer End -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>