body{
    padding: 0;
    margin: 0 ;
}
/* ------------------------- Home ---------------------------------*/

/*------- Header -------*/
.navbar{
    background-color:#f7ac43;
}
.nav-item a{
    color: #1a1a1a;
    font-size: large;
    text-decoration: none;
}


/*-- What we Offer--*/
#services-card{
    margin-top: 80px;
    margin-bottom: 80px;
}
.service-card {
    border: 1px solid #ddd; /* Light gray border */
    padding: 40px; /* Space inside the card */
    margin: 10px 0; /* Space between cards */
    background-color: #f2f7fa; /* Light background */
    border: 40px 30px;
    margin-bottom: 20px;

}

.service-icon {
    font-size: 40px; /* Large icon */
    color: #f7ac43; /* Blue color */
    margin-bottom: 20px; /* Space below icon */
}


.service-card h3 {
    font-size: 1.5rem;
    color: #1a1a1a;
    margin-top: 10px;
}

.service-card p {
    font-size: 1rem;
    color: #666;
}



/*Where Creativity Meets Quality! start*/
.meets{
    padding: 100px;
    background-color: #1a1a1a;
    margin-top: 50px;
    margin-bottom: 50px;

}
.meets h1{
    color: #ffffff;
}

/*-- about us start---*/
#about-sec{
    margin-top: 80px;
    margin-bottom: 80px;
}

.about-title{
    text-align: start;
}
.about-title p{
    font-size: large;
    text-align: justify;
    margin-right: 40px;
    margin-bottom: 20px;

}

/*---Footer ----*/

#custom-footer{
    max-width: 100%;
    max-height: 100%;
    background-color:black; 
    margin-bottom: 0;
}


#custom-footer img{
    height: 100px; 
    width: 198px;
    margin-top: 20px;
}

#custom-footer a{
    display: inline;
    text-decoration: none;
    text-align: center;
    color: #a19fa1;
}

#custom-footer p{
    text-align: center;
    color: #a19fa1;
}


/* ------------------------- About us ---------------------------------*/
.about-top h3{
    margin-top: 50px;
    font-weight: 400;
    font-size: medium;
    font-style: bold;

}
.about-top p{
    font-weight: 500;
    font-size: xx-large;
    font-style: bold;
    margin-bottom: 50px;

}
.about-top img{
    margin-bottom: 50px;

}
.title-para p{
    text-align: justify;
    font-size:large;
    margin-left: 50px;
    margin-right: 50px;

}

.vission-mission{
    margin-top: 50px;
}

.vission-mission h4{
    text-align: center;
    font-size: x-large;
    margin-top: 10px;
}

.vission-mission p{
    text-align: center;
    font-size: large;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 80px;
}
.vission-mission-icon{
    color: #f7ac43;
    font-size: 3rem;
}